:root {
	--background: #fff;
	--foreground: #000;
	--divider: #dcdcdc;
	--overlay: #888;
}

#open-sheet{
	padding-inline-end: 1.5rem;
}

#open-sheet::after {
	content: "expand_more";
	font-family: 'Material Symbols Rounded';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	position: absolute;
	left: -2px;
	top: 3px;
	transform: rotate(0deg);
	transition: transform .5s ease-in-out;
}

#open-sheet.active#open-sheet::after {
	transform: rotate(180deg);
}

.sheet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}

.sheet[aria-hidden="true"] {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.sheet .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: var(--overlay);
  opacity: 0.5;
}

.sheet .contents {
  display: flex;
  flex-direction: column;
  border-radius: 1rem 1rem 0 0;
  background: var(--background);
  overflow-y: hidden;
  --default-transitions: transform 0.5s, border-radius 0.5s;
  transition: var(--default-transitions);
  transform: translateY(0);
  max-width: 70rem;
  width: 100%;
  max-height: 100vh;
  height: 30vh;
  box-sizing: border-box;
}

.sheet .contents:not(.not-selectable) {
  transition: var(--default-transitions), height 0.5s;
}

.sheet .contents.fullscreen {
  border-radius: 0;
}

.sheet[aria-hidden="true"] .contents {
  transform: translateY(100%);
}

.sheet .controls {
  display: flex;
}

.sheet .draggable-area {
  width: 3rem;
  margin: auto;
  padding: 1rem;
  cursor: grab;
}

.sheet .draggable-thumb {
  width: inherit;
  height: 0.25rem;
  background: var(--divider);
  border-radius: 0.125rem;
}

.sheet .close-sheet {
  border: none;
  padding: 0.7rem;
  background-color: var(--background);
  cursor: pointer;
  position: absolute;
  left: 0;
}

.sheet .body {
  flex-grow: 1;
  height: 100%;
  display: flex;
  overflow-y: auto;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  flex-direction: column;
}
