/* ======= custom scroll bar ======= */
::-webkit-scrollbar {
  width: 6px;
  padding: 0;
  background-color: transparent;
}
::-webkit-scrollbar {
  height: 4px;
}
::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #bbbbbb;
  border-radius: 4px;
  box-shadow: inset 0 0 4px rgb(0 0 0 / 5%);
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.open {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}
.overlay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 90;
  transform: translateZ(0);
  height: 110%;
  transition: all 250ms;
}
.overlay--light {
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -37px 0 72px -6px rgba(0, 0, 0, 0.1);
}
/* 
    ============
     top header
    ============ 
*/
.top-header-menu-item-border {
  border-left: 1px solid #e0e0e0;
  padding: 0 1rem;
}

.top-header-menu-link--light {
  color: #757575 !important;
  font-weight: 400 !important;
}

/* 
    ========
     header
    ========
*/
.header-search-box {
  border: 2px solid var(--color-primary-500);
  border-radius: 3rem;
  /* padding: 0.75rem 0.75rem 0.75rem 0.5rem; */
  padding: 0.3rem;
  height: 2.5rem;
  min-width: 45rem;
  width: 100%;
}
.header-menu__item--basket {
  position: relative;
}
.header__badge {
  background-color: var(--supplier-primary-500);
  box-shadow: 0px 2px 4px 0px #f4505080;
  border-radius: 0.3rem;
  color: #ffffff;

  width: 16px;
  height: 16px;
  font-size: 11px;
  position: absolute;
  top: -0.4rem;
  right: 1.4rem;
}
.header-search-box-dropdown {
  border-left: 1px solid #e0e0e0;
  padding: 0 1rem;
}
.header-search-box__input {
  border: none;
  background-color: transparent;
  width: 100%;
  outline: none;
  padding: 0.75rem;
}

.header-search-box__input::placeholder {
  color: var(--color-neutral-500);
  font-size: 1rem;
  font-weight: 400;
}
.search__btn {
  cursor: pointer;
  background-color: var(--supplier-primary-500);
  border: none;
  color: #ffffff;
  padding: 0.65rem 2.65rem;
  border-radius: 2rem;
  font-size: 16px;
  font-weight: 400;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.dropdown-title-box {
  /* min-width: 8rem; */
  cursor: pointer;
}

.dropdown-list {
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  display: none;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: -1.5rem;
  top: 100%;
}
.dropdown-list__item {
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  color: var(--color-neutral-800);
  transition: all 150ms ease-in;
}
.dropdown-list__item:hover {
  background-color: #f6f6f6;
}

/* 
    ==============
     hero-section
    ==============
*/
.hero-section {
}
.hero-section__wrapper {
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px #00000026;
  border-radius: 0.5rem;
  padding: 1.25rem 0 1.25rem 1.25rem;
  height: 57vh;
  overflow: hidden;
}
.hero-section-categories {
  width: 19%;
  position: relative;
}
.categories-render-popup {
  background: #fff;
  border-left: 1px solid #eee;
  border-radius: 0 8px 8px 0;
  display: none;
  right: 100%;
  min-height: 532px;
  padding: 24px;
  position: absolute;
  top: 3px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 856px;
  z-index: 99;
}
.categories-render-popup-menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.categories-render-popup-menu-item {
}
.categories-render-popup-menu__link {
  transition: all 150ms ease-in;
}
.categories-render-popup-menu__sub-link {
  color: var(--color-neutral-800);
}
.categories-render-popup-menu__link:hover {
  color: var(--supplier-primary-500);
}
.hero-section-categories-items {
  overflow: hidden;
  /* overflow-y: auto; */
  height: 55vh;
}
.hero-section-categories-items:hover {
  overflow-y: auto;
}
.hero-section-categories-item:hover ~ .categories-render-popup {
  display: block;
}
.hero-section-categories-item {
  padding: 0.2rem 0.3rem;
  cursor: pointer;
  transition: all 150ms ease-in;
  padding-right: 1.25rem;
}
.hero-section-categories-menu {
  padding-right: 1.25rem;
}
.hero-section-categories-item:hover {
  color: var(--supplier-primary-500);
  background-color: #f6f6f6;
}
.hero-section-categories-item:hover
  .hero-section-categories-item__icon
  svg
  path {
  fill: var(--supplier-primary-500);
}
.hero-section-categories-item:hover
  .hero-section-categories-item__arrow-icon
  path {
  fill: var(--supplier-primary-500);
}

.hero-section-most-popular-item__title {
  color: #757575;
  transition: all 150ms ease-in;
}
.hero-section-most-popular-item__title:hover {
  text-decoration: underline;
}
.hero-section-most-popular-item__price {
  color: var(--color-neutral-800);
}
.hero-section-most-popular-item__img {
  height: 5rem;
  width: 6.5rem;
}
.hero-section-categories-item__title {
}
.hero-section-categories-item__icon {
  height: 1.5rem;
}
.hero-section-banner {
  width: 60%;
}
.hero-section-most-popular {
  width: 19%;
}
.hero-section-most-popular-item {
  margin-top: 1.36rem;
}
.hero-section-banner__img {
  height: 22.8rem;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.hero-section-banner-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 1.5rem;
}
.hero-section-banner-item {
}
.hero-section-banner-item:hover .hero-section-banner-item__img {
  transform: scale(1.04);
}
.hero-section-banner-banner {
  background-color: #f5f7fa;
  border-radius: 0.35rem 0.35rem 0 0;
  height: 7.5rem;
}
.hero-section-banner-item__img {
  padding-top: 2rem;
  transition: all 150ms ease-in;
}

.hero-section-banner-item-footer {
  background-color: #e2e8f0;
  border-radius: 2px 2px 0.5rem 0.5rem;
}
.hero-section-banner-item__title {
  color: var(--landing-secondary-color);
  padding: 0.75rem;
  text-align: center;
}

/*  ============ responsive  ============ */
@media only screen and (max-width: 1400px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 576px) {
}
@media only screen and (max-width: 400px) {
}
